@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto&display=swap');
/* Size & color */
h1 {
    font-size: 5.5rem;
    color: var(--main-color);
}

h2 {
    font-size: 3.6rem;
    color: var(--main-color);
}

h3 {
    font-size: 2.4rem;
    color: var(--text-color);
}

h4 {
    font-size: 2rem;
    color: var(--text-color);
}

h5 {
    font-size: 1.8rem;
    color: var(--text-color);
}

p {
    font-size: 1.6rem;
    line-height: 1.6em;
    color: var(--text-color);
}

/* Font families */
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
}

p {
    font-family: 'Roboto', sans-serif;
}